{% extends 'web/base_main.html' %}

{% block title %}
    关于我
{% endblock %}

{% block js %}
    {{ super() }}
    <script type="text/javascript" src="js/hc-sticky.js"></script>
    <!--[if lt IE 9]>
    <script src="js/modernizr.js"></script>
    <![endif]-->
{% endblock %}

{% block main %}
  <main class="r_box">
     <div class="about">
            <br />
            一只快乐的敲着代码的单身狗<br />
            <br />
          <br />
          <h2>About my blog</h2>
          &nbsp;
          <p>域 名：www.yangqq 创建于2011年01月12日&nbsp;</p>
          <br />
          <p>服务器：阿里云服务器&nbsp;&nbsp;<a href="https://promotion.aliyun.com/ntms/act/ambassador/sharetouser.html?userCode=8smrzoqa&amp;productCode=vm" target="_blank"><span style="color:#FF0000;"><strong>前往阿里云官网购买&gt;&gt;</strong></span></a></p>
          <br />
          <p>备案号：蜀ICP备11002373号-1</p>
          <br />
          <p>程 序：PHP 帝国CMS7.5</p>
  
     </div>
  </main>
{% endblock %}




